


h1{color:lightred;font-family:impac;border:2px solid blue;text-align:center;
padding:3px;margin:auto 0;border-radius:4px;width:50%;}

#gold{color:red;border;2px solid pink;position:relative;text-align:center;}

#magic{margin:auto;width:50%;border:3px solid green;padding:10px;position:relative;}

#p1{background-color:#FFB6C1;border:groove;margin-top:100px;margin-bottom:100px;margin-right:150px;margin-left:80px;}
#p2{padding-top:50px;padding-right:30px;padding-bottom:50%;padding-left:80px;}
#p3{height:100px;width:50%;background-color:powderblue;}

#mycanvas{width="200"; height="100";}


body{background:powderblue;text-align:center;}
	a{text-decoration:none;a:hover;a:active;}

#main{width:1000px;height:600px; text-align:center;background:lightyellow; border:2px solid red;
margin:25px auto; position:relative;padding-top:10px;}

#username{font-family:calibri;font-size:12pt;text-align:left;text-indent:48px;
color:blue;}

#box{border:3px solid blue;height:35px;width:75%;}
.tr{font-family:times new roman;font-weight:18px;padding:12px;margin-top:5px;text-align:center;}